@model Term_Project.Models.Code
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CPlusPlus</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
